@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Red+Hat+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; }

.imagen {
  height: 80px;
  align-items: center; }

.footer {
  font-family: "Quicksand", sans-serif;
  background-color: #111141;
  font-size: 10px;
  margin-top: 20px;
  text-decoration: none; }

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white; }

.footer li {
  align-items: center;
  padding: 5px;
  margin: 5px;
  list-style: none; }

.pf {
  margin: auto;
  color: white;
  text-align: center; }

.header {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 5px 10px #66669f;
  background-color: #c0c0e8;
  color: white; }

.header img {
  display: flex;
  flex-direction: column;
  align-items: center; }

.header ul {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border: 1px color #66669f; }

.header li {
  padding: 2px 26px 1px;
  margin: 10px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  font-size: 10px;
  font-weight: bold; }

.maincontacto {
  font-family: "Red Hat Display", sans-serif;
  height: 1500px; }

.accordion {
  width: 400px;
  margin: auto; }

.form-contacto {
  width: 400px;
  margin: auto; }
  .form-contacto .g-recaptcha {
    margin: 20px 0px 30px; }

.imagenes {
  display: flex;
  flex-direction: column;
  align-items: center; }

.maincontacto h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 30px; }

.mainext {
  font-family: "Red Hat Display", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.mainext p {
  text-align: center;
  font-size: 15px;
  margin: 20px 20px; }

.mainext img {
  align-items: center;
  margin: 20px;
  height: 150px; }

.main {
  font-family: "Red Hat Display", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main article {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-index {
  display: flex;
  flex-direction: column;
  align-items: center; }

.carousel {
  width: 350px;
  align-items: center; }

.main h1 {
  margin-top: 5px;
  padding: 20px;
  background-color: #4E4FEB;
  border-radius: 8px;
  color: #EEEEEE;
  box-shadow: 0px 5px 10px #66669f;
  text-align: center;
  font-size: 20px; }

.main p {
  margin: 10px 10px;
  padding: 10px;
  align-items: center;
  background-color: #111141;
  border-radius: 8px;
  color: white;
  box-shadow: 5px 5px 10px #66669f;
  text-align: center;
  font-size: 10px; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center; }

.mainint {
  font-family: "Red Hat Display", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.mainint img {
  align-items: center;
  margin: 20px;
  height: 150px; }

.mainint p {
  text-align: center;
  font-size: 15px;
  margin: 20px 20px; }

.h1int {
  box-shadow: 0px 5px 10px #66669f;
  padding: 25px;
  text-align: center; }

.mainn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Red Hat Display", sans-serif; }

.h2o {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 20px 20px;
  margin: 20px 20px;
  border-radius: 8px;
  background-color: #66669f; }

iframe {
  margin: 10px;
  align-items: center;
  width: 200px;
  height: 200px; }

.mainn p {
  text-align: center;
  font-size: 15px;
  margin: 15px; }

.div-nos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #66669f;
  border-radius: 5px;
  margin: 15px; }

@media (min-width: 699px) {
  .header {
    flex-direction: row; }
  .header ul {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .imagen {
    align-items: flex-end;
    height: 100px; }
  .carousel {
    width: 650px;
    align-items: center; }
  .main h1 {
    margin: 20px 20px;
    padding: 20px;
    font-size: 60px; }
  .main p {
    padding: 20px;
    font-size: 25px; }
  .main img {
    height: 400px;
    margin: 25px 50px 25px; }
  .footer {
    height: 140px;
    font-size: 14px; }
  .mainext p {
    text-align: center;
    font-size: 25px; }
  .section1 {
    background-color: #f9e3b8a9;
    border-radius: 8px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; }
    .section1 p {
      text-align: center; }
  .section2 {
    background-color: #f9e3b8a9;
    border-radius: 8px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; }
    .section2 p {
      text-align: center; }
  .maincontacto {
    height: 1700px; }
  .maincontacto h2 {
    margin: 45px;
    box-shadow: 0px 2px 10px;
    padding: 20px; }
  .form-contacto {
    width: 600px;
    box-sizing: inherit;
    margin: auto;
    margin-bottom: 10px; }
  .mainext img {
    width: 450px;
    height: 300px; }
  .footer {
    margin: auto; }
  .mainint img {
    height: 250px; }
  .mainint p {
    font-size: 25px; }
  .h1int {
    font-size: 60px; }
  iframe {
    width: 400px;
    height: 400px; }
  .mainn p {
    font-size: 35px; }
  .h2o {
    font-size: 40px; } }
