@import "./utilidades/utilities.scss";
@import "./utilidades/reset";
@import "./utilidades/general.scss";
@import "./sections/footer.scss";
@import "./sections/header.scss";
@import "./sections/main-contacto.scss";
@import "./sections/main-exterior.scss";
@import "./sections/main-index.scss";
@import "./sections/main-interior.scss";
@import "./sections/main-nosotros.scss";

@media (min-width: 680px) {
    .header {
        flex-direction: row;
    }

    .header ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .imagen {
        align-items: flex-end;
        height: 100px;

    }

    .carousel {
        width: 650px;
        align-items: center;

    }

    .main h1 {

        margin: 20px 20px;
        padding: 20px;
        font-size: 60px;
    }

    .main p {
        padding: 20px;
        font-size: 25px;
    }

    .main img {

        height: 400px;
        margin: 25px 50px 25px
    }

    .footer {
        font-size: 13px;
    }


    .mainext p {
        text-align: center;
        font-size: 25px;
    }

    .section1 {
        margin: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .section2 {
        margin: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .mainext img {

        width: 450px;
        height: 300px;

    }
    .mainext div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $celeste;
    }

}    .footer {
        margin: auto;
    }


    .mainint img {

        height: 250px;

    }

    .mainint p {
        font-size: 25px;
    }

    .h1int {
        font-size: 60px;
    }

    iframe {

        width: 400px;
        height: 400px;
    }

    .mainn p {
        font-size: 35px;
    }

    .h2o {
        font-size: 40px;

    }

    .form-contacto {
        margin: auto;
        margin-bottom: 10px;
        width: 700px !important
    }
