@import "./utilidades/utilities.scss";
@import "./utilidades/reset";
@import "./utilidades/general.scss";
@import "./sections/footer.scss";
@import "./sections/header.scss";
@import "./sections/main-contacto.scss";
@import "./sections/main-exterior.scss";
@import "./sections/main-index.scss";
@import "./sections/main-interior.scss";
@import "./sections/main-nosotros.scss";

@media (min-width: 699px) {
    .header {
        flex-direction: row;
    }

    .header ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .imagen {
        align-items: flex-end;
        height: 100px;

    }

    .carousel {
        width: 650px;
        align-items: center;

    }

    .main h1 {

        margin: 20px 20px;
        padding: 20px;
        font-size: 60px;
    }

    .main p {
        margin: 20px;
        padding: 20px;
        font-size: 25px;
    }

    .main img {

        height: 400px;
        margin: 25px 50px 25px
    }

    .footer {

        height: 140px;
        font-size: 14px;
    }
    .mainext p {
        text-align: center;
        font-size: 25px;
    }

    .section1 {
        background-color: #f9e3b8a9;
        border-radius: 8px;
        margin: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .section2 {
        background-color: #f9e3b8a9;
        border-radius: 8px;
        margin: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .maincontacto {
        min-height: 1750px;
    }
    .maincontacto h2 {
        margin: 45px;
        box-shadow: 0px 2px 10px; 
        padding: 20px
    }
    .accordion-item {
        width: 600px;
        margin: auto;
    }
    .form-contacto {
        width: 600px;
        box-sizing: inherit;
        margin: auto;
        margin-bottom: 10px;
        
    }

    .mainext img {

        width: 450px;
        height: 300px;
        border-radius: 8px;

    }


    .footer {
        margin: auto;
    }


    .mainint img {

        height: 250px;

    }

    .mainint p {
        font-size: 25px;
    }

    .h1int {
        font-size: 60px;
    }

    iframe {

        width: 400px;
        height: 400px;
    }

    .mainn p {
        font-size: 35px;
    }

    .h2o {
        font-size: 40px;

    }
    .section3 {
        background-color: #f9e3b8a9;
        border-radius: 8px;
        margin: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .section4 {
        background-color: #f9e3b8a9;
        border-radius: 8px;
        margin: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        p {
            text-align: center;
        }
    }
}
   

