@import "./utilidades/reset";
@import "./utilidades/general.scss";
@import "./sections/footer.scss";
@import "./sections/header.scss";
@import "./sections/main-contacto.scss";
@import "./sections/main-exterior.scss";
@import "./sections/main-index.scss";
@import "./sections/main-interior.scss";
@import "./sections/main-nosotros.scss";

@media (min-width: 680px) {
    .header {
        flex-direction: row;

    }

    .header ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .imagen {
        align-items: flex-end;
        height: 100px;

    }


    .header li {
        margin: 15px 50px;
        font-size: 17px;

    }

    .carousel {
        width: 650px;
        align-items: center;
    
    }

    .main h1 {

        margin: 20px 20px;
        padding: 20px;
        font-size: 60px;
    }

    .main p {
        padding: 20px;
        font-size: 25px;
    }

    .main img {

        height: 400px;
        margin: 25px 50px 25px
    }

    .footer {
        font-size: 13px;
    }


    .mainext p {
        text-align: center;
        font-size: 25px;
    }

    .mainext h1 {
        font-size: 50px;
    }

    .mainext img {

        height: 350px;

    }


    .mainint img {

        height: 350px;

    }

    .mainint p {
        font-size: 25px;
    }

    .h1int {
        font-size: 60px;
    }

    iframe {

        width: 400px;
        height: 400px;
    }

    .mainn p {
        font-size: 35px;
    }

    .h2o {
        font-size: 40px;

    }

}