.footer {
    font-family: $fuente-nav;
    background-color: #111141;
    font-size: 10px;
    margin-top: 20px;
    text-decoration: none;
}

.footer ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
}

.footer li {
    align-items: center;
    padding: 5px;
    margin: 5px;
    list-style: none;
    
} 
.pf {
    margin: auto;
    color: white;
    text-align: center;
}
.inicio-footer a{
    text-decoration: none; 
    color: $blanco;
}