.maincontacto {
    font-family: $fuente-main;
}
.accordion {
    width: 500px;
    margin: auto;
}

.form-contacto {

    width: 100%;
    margin-bottom: 10px;
    margin: auto;
  
}

.maincontacto {
    height: 1000px; 
}
