.maincontacto {
    font-family: $fuente-main;
    height: 1500px; 
}
.accordion {
    width: 600px;
    margin: auto;
}

.form-contacto {

    width: 300px;
    margin: auto;
    .g-recaptcha {
        margin: 20px 0px 30px;
    }
}
